<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">

    <head>
        <title>استفاده کننده های سیستم</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>

        <!-- CONTENT -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" layout:fragment="content">

            <!-- Content Header (Page header) -->
            <section class="content-header" >
                <h1>
                    <small>کنترل پنل</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
                    <li class="active"> <p th:text="${participant.firstName + ' '+ participant.lastName}"></p>  </li>
                </ol>
            </section>

            <div class="row" style="margin: 1%; ">

                <div class="col-md-5">
                    <div class="box" style="padding: 3%">
                        <div class="box-header">
                            <h3 class="box-title">مشخصات  <span th:text="${participant.firstName + ' '+ participant.lastName}"/></h3>
                            <hr/>
                            <table class="table table-bordered">

                                <tr>
                                    <td>نام</td>
                                    <td th:text="${participant.firstName + ' '+ participant.lastName}"></td>
                                </tr>

                                <tr>
                                    <td>شماره تماس</td>
                                    <td th:text="${participant.phone}"></td>
                                </tr>

                                <tr>
                                    <td>ایمیل آدرس</td>
                                    <td th:text="${participant.email}"></td>
                                </tr>


                                <tr>
                                    <td>ولایت</td>
                                    <td th:text="${participant.province}"></td>
                                </tr>

                                <tr>
                                    <td>ولسوالی</td>
                                    <td th:text="${participant.province}"></td>
                                </tr>

                                <tr>
                                    <td>آدرس</td>
                                    <td th:text="${participant.district}"></td>
                                </tr>

                                <tr>
                                    <td>نمبر صکوک تذکره</td>
                                    <td th:text="${participant.tazkraSerialNumber}"></td>
                                </tr>

                                <tr>
                                    <td>نمبر صحفه تذکره</td>
                                    <td th:text="${participant.tazkraPageNumber}"></td>
                                </tr>

                                <tr>
                                    <td> جلد تذکره</td>
                                    <td th:text="${participant.tazkraJuld}"></td>
                                </tr>

                                <tr>
                                    <td>  سال تولد</td>
                                    <td th:text="${participant.birthYear}"></td>
                                </tr>

                                <tr>
                                    <td>  محل تولد</td>
                                    <td th:text="${participant.birthPlace}"></td>
                                </tr>

                                <tr>
                                    <td> جنسیت</td>
                                    <td th:text="${participant.gender}"></td>
                                </tr>

                                <tr>
                                    <td> حالت مدنی</td>
                                    <td th:text="${participant.status}"></td>
                                </tr>

                                <tr>
                                    <td>تحصیل</td>
                                    <td th:text="${participant.eductaion}"></td>
                                </tr>

                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-md-5">
                    <div class="box" style="padding: 3%">
                        <div class="box-header">
                            <h3 class="box-title">کیو آر کد </h3>
                        </div>

                        <div >
                            <img alt ="QR Image" th:src="|@{/images/qrcode/}${qrimg}|" />
                        </div>
                        
                        <button class="btn btn-default"><i class="fa fa-print"></i> پرنت</button>
                    </div>
                </div>

            </div>
            <!-- /.col -->


        </div>





    </div>


    <!-- END CONTENT -->


</body>
</html>
